@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #000000;
  --font-sans: "Inter", "Staff Grotesk Test", sans-serif;
  --font-mono: "Inter", monospace;
}

a {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* @font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Medium-BF66385475c19b6.otf")
    format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Regular-BF66385476bf383.otf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Bold-BF66385476837b7.otf")
    format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./font/inter_Inter-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
} */
#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}

